/* custom.css */

/* Default scale */
body {
    transform: scale(0.85);
    /* Zoom in by 10% */
    transform-origin: top;
    /* Adjust the zoom origin */
}

/* Mobile scale */
@media (max-width: 768px) {
    body {
        transform: scale(1);
        /* Adjust this value as needed for mobile */
    }
}